<form action="/register" method="post">
    <div class="input-group">
        <span class="input-group-text">username</span>
        <input type="text" aria-label="username" name="username" class="form-control">
    </div>
    <div class="input-group">
        <span class="input-group-text">password</span>
        <input type="text" aria-label="password" name="password" class="form-control">
    </div>
    <button type="submit">Register</button>


</form>