<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Attach Accessory</title>
    <link href="/content/styles/site1.css" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/content/images/favicon.png" />
</head>

<body>
    <div class="container">
        <header>
            <ul>
                <li><img class="logo" src="/content/images/logo.png"></li>
                <li><a href="/">Home Page</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Browse</a></li>

                {{#if user}}
                <li><a href="/cats/addBreed">Add Breed</a></li>
                <li><a href="/cats/addCat">Add Cat</a></li>
                <li><a href="/accessory/create">Add Accessory</a></li>
                <li><a href="/auth/logout">Logout</a></li>
                {{else}}
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/auth/register">Register</a></li>
                {{/if}}

            </ul>
        </header>




        {{{body}}}
    </div>
    <footer>@Cubicle: Exercise for Express.js and Handlebars</footer>

</body>

</html>